body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #0A0B0B;
        }

main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
h1 {
            color: #333;
        }
p {
            color: #555;
        }
a {
            color: #007BFF;
            text-decoration: none;
        }

a:hover {
            text-decoration: underline;
        }
.Img {
    background-color: #3A008A;
    background-position: center;
    background-size: cover;
    color: #333;
    padding: 5vmin;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
