body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

header {
            background-color: #3A008A;
            color: #fff;
            text-align: center;
            padding: 1em 0;
        }
main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #0A0B0B;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
h1 {
            color: #333;
        }
p {
            color: #555;
        }
a {
            color: #007BFF;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
